@using GroupProject.Models
@model HouseModel

@if (Model != null)
{
    <div class="form-group col-md-7">
        <label for="Address" class="control-label">Закрепленный дом</label>
        @Html.TextBoxFor(h => h.Address, new { @class = "form-control", @readonly = "readonly" })
    </div>
}