@using GroupProject.Database.ModelsExtensions;
@model IPerson

@if (Model != null)
{
    <div class="col-md-5 col-md-offset-7">
        <div class="form-inline">
            @Html.ValueFor(u => u.FullName)
            @Html.ActionLink("Выход", "Logout", "Menu", new { @class = "btn btn-default" })
        </div>
    </div>
}


