@using GroupProject.Database.ModelsExtensions
@using GroupProject.Database.ModelsGenerated

@{
    ViewBag.Title = "Index";
    IPerson currentUser = ViewData["currentUser"] as IPerson;
}

<h2>Личный кабинет</h2>

<body>
    <div class="row">
        <div id="Tabs" class="col-md-2">
            <ul>
                <li class="active"><button id="ShowResidentGeneralInformation">Общая информация</button></li>
                <li><button id="ShowResidentRequests">Заявки</button></li>
                @if (currentUser is Resident)
                {
                    <li><button id="ShowTags">Теги</button></li>
                }
            </ul>
        </div>
        <div id="ContentWrapper" class="col-md-8"></div>
    </div>
</body>

<script type="text/javascript">
    $(document).ready(function () {
        $("#Tabs li button").on("click",
            function() {
                $("#Tabs li").each(function(index, element) {
                    $(element).removeClass("active");
                });

                $(this).parent().addClass("active");
            });

        $("#ShowResidentGeneralInformation").on("click",
            function() {
                $("#ContentWrapper").load("@Url.Action("RenderGeneralInformation")");
            });

        $("#ShowResidentRequests").on("click",
            function() {
                $("#ContentWrapper").load("@Url.Action("RenderRequestsGrid")");
            });

        $("#ShowTags").on("click",
            function() {
                $("#ContentWrapper").load("@Url.Action("RenderTagsGrid")");
            });

        $("#ShowResidentGeneralInformation").click();

    });

</script>

