@using GroupProject.Database.ModelsExtensions
@using GroupProject.Database.ModelsGenerated

@{
    ViewBag.Title = "Index";
    IPerson currentUser = ViewData["currentUser"] as IPerson;
}

<h1>Личный кабинет</h1>
<body>
    <div>
        <div id="Tabs" class="col-md-2">
            <div class="list-group">
                <button id="ShowResidentGeneralInformation" class="list-group-item active">Общая информация</button>
                <button id="ShowResidentRequests" class="list-group-item">Заявки</button>
                @if (currentUser is Resident)
                {
                    <button id="ShowTags" class="list-group-item">Теги</button>
                }
            </div>
        </div>
        <div id="ContentWrapper" class="col-md-10"></div>
    </div>
</body>

<script type="text/javascript">
    $(document).ready(function () {
        $("#Tabs button").on("click",
            function() {
                $("#Tabs button").each(function(index, element) {
                    $(element).removeClass("active");
                });

                $(this).addClass("active");
            });

        $("#ShowResidentGeneralInformation").on("click",
            function() {
                $("#ContentWrapper").load("@Url.Action("RenderGeneralInformation")");
            });

        $("#ShowResidentRequests").on("click",
            function() {
                $("#ContentWrapper").load("@Url.Action("RenderRequests")");
            });

        $("#ShowTags").on("click",
            function() {
                $("#ContentWrapper").load("@Url.Action("RenderTagsGrid")");
            });

        $("#ShowResidentGeneralInformation").click();

    });

</script>

